body {
    background-color: rgba(219, 238, 243, 0.781);
    text-align: center;
}
#container {
    background-color: aliceblue;
    margin: 50px;
    padding: 20px 65px 100px 65px;
    border-radius: 37% 63% 7% 93% / 68% 26% 74% 32%;
    box-shadow: 2px 13px 74px 21px rgba(135,219,230,1);
}
#container > h1 {
    color: brown;
    margin: 35px;
}
#container > label {
    font-weight: bold;
    font-size: 20px;
}
#container > input {
    border: none;
    box-shadow: -1px 7px 90px 10px rgba(0,0,0,0.75);
    padding: 5px;
    text-align: center;
    font-weight: 500;
}
#container > button {
    border: none;
    padding: 5px 15px;
    background-color: white;
    font-weight: bold;
    font-size: 13px;
    color: brown;
    cursor: pointer;
    
}
#diceresult {
    font-weight: bold;
    font-size: 30px;
    border: 50px;
    margin: 20px 0 0;
}
#diceimage img{
    margin: 10px;
    height: 100px;
    width: 100px;
}