body {
    background-color: rgba(219, 238, 243, 0.781);
    text-align: center;
}
#container {
    background-color: aliceblue;
    margin: 50px;
    padding: 20px 65px 100px 65px;
    border-radius: 37% 63% 7% 93% / 68% 26% 74% 32%;
    box-shadow: 2px 13px 74px 21px rgba(135,219,230,1);
}